In [2]:
first = 'Mohammad'
last = 'Afroze'
print(first+' '+last)

Mohammad Afroze

In [3]:
_nation = 5
print(_nation)

5

In [4]:
1record = 10
print(1record)

SyntaxError: invalid syntax (4067051234.py, line 1)

In [5]:
record-one = 10
print(record-one)

SyntaxError: cannot assign to operator (2975750527.py, line 1)

In [6]:
record^one = 10
print(record^one)

SyntaxError: cannot assign to operator (4206674195.py, line 1)

In [9]:
length_m = 92
width_m = 48.8
area = length_m * width_m
print('the area of football field is:',round(area,1))

the area of football field is: 4489.6

In [10]:
no_packets = 9
packet_cost = 1.49
give_sk = 20
return_back = give_sk-(no_packets*packet_cost)
print(return_back)

6.59

In [12]:
side_ft = 5.5
tile_cost = 500
area_bathroom = side_ft**2
print('area of bathroom:',area_bathroom)
all_tile_cost = tile_cost * area_bathroom
print("the cost to replace all tiles:", all_tile_cost)

area of bathroom: 30.25
the cost to replace all tiles: 15125.0

In [15]:
no = 17
bin_no = bin(no)[2:]
print(bin_no)

10001

In [20]:
string ='Earth revolves around the sun'
print(string[6:14])
print(string[-3:])

revolves
sun

In [31]:
street = "road no 12"
city = 'warangal'
country = "india"
address = street +'\n' +city+'\n'+country
print(address)

road no 12
warangal
india

In [30]:
street = "road no 12"
city = 'warangal'
country = "india"
address2 = f'{street}\n{city}\n{country}'
print(address2)

road no 12
warangal
india

In [21]:
x = 10
y = 15
print(f'I eat {x} veggies and {y} fruits daily')

I eat 10 veggies and 15 fruits daily

In [49]:
l1= ['january','february','march','april','May']
l2 =[2200,2350,2600,2130,2190]
print('feb extra spend:',l2[1]-l2[0])

feb extra spend: 150

In [50]:
total_expense_qtr1=sum(l2[0:3])
print(total_expense_qtr1)

7150

In [51]:
spend_2000 = 2000 in l2
print(spend_2000)

False

In [52]:
l2.append(1980)
l2

[2200, 2350, 2600, 2130, 2190, 1980]

In [53]:
l2[3]=l2[3]-200
l2

[2200, 2350, 2600, 1930, 2190, 1980]

In [54]:
heros=['spider man','thor','hulk','iron man','captain america']

In [55]:
len(heros)

5

In [56]:
heros.append('black panther')

In [57]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [58]:
heros.remove('hulk')
heros

['spider man', 'thor', 'iron man', 'captain america', 'black panther']

In [59]:
heros.append('hulk')

In [60]:
heros

['spider man', 'thor', 'iron man', 'captain america', 'black panther', 'hulk']

In [64]:
heros = ['doctor strange' if hero in ['thor', 'hulk'] else hero for hero in heros ]

In [65]:
heros

['spider man',
 'doctor strange',
 'iron man',
 'captain america',
 'black panther',
 'doctor strange']

In [66]:
heros.sort()

In [67]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'doctor strange',
 'iron man',
 'spider man']

In [81]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city = str(input("enter the city name:"))
city = city.lower()
if city in india:
    print(f'{city} is in India')
elif city in pakistan:
    print(f'{city} is in pakistan')
elif city in bangladesh:
    print(f'{city} is in bangladesh')
else:
    print(f'{city} is not available in given list')

enter the city name:hyde
hyde is not available in given list

In [90]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city1 = str(input("enter 1st city name:"))
city2 = str(input("enter 2nd city name:"))

city1 =city1.lower()
city2 = city2.lower()
if city1 in india and  city2 in india:
    print(f'{city1} and {city2} are in India')
elif city1 in pakistan and city2 in pakistan:
    print(f'{city1} and {city2} are in pakistan')
elif city1 in bangladesh and city2 in bangladesh:
    print(f'{city1} and {city2} are in bangladesh')
else:
    print(f'{city1} and {city2} are not in same country')

enter 1st city name:lahore
enter 2nd city name:islamabad
lahore and islamabad are in pakistan

In [93]:
sugar_level = int(input("enter your sugar level:"))
if sugar_level <=80:
    print(f' your sugar level {sugar_level} is low')
elif 80<=sugar_level<=100:
    print(f'your sugar level {sugar_level} is normal')
elif sugar_level>=100:
    print(f'your sugar level {sugar_level} is high')
else:
    print(f'proper sugar level value')

enter your sugar level:96
your sugar level 96 is normal

In [3]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
for i in result:
    if i == 'heads':
        count = count +1
    else:
        continue
print(count)

4

In [6]:
for i in range(1,11):
    if i%2==0:
        continue
    else:
        print(i**2)

1
9
25
49
81

In [19]:
expense_list = [2340, 2500, 2100, 3100, 2980]
amount = int(input("enter expense amount:"))

months = ["January", "February", "March", "April", "May"]
expense_found = False
for i in range(len(expense_list)):
    if expense_list[i] == amount:
        month = months[i]
        expense_found = True
        break
if expense_found:
    print(f"the expense of {amount} dollars occurred in {month}")
else:
    print("expense amount not found")

enter expense amount:4500
expense amount not found

In [35]:
run =0
for  i in range(1,6):
    run = run+1
    print(f'you ran {run} miles')
    reply = input('are you tired:')
    if reply == 'yes':
        print('you didnt finish the race')
        break
    else:
        continue
if run == 5:
    print("congratulations, you finished the race")

you ran 1 miles
are you tired:no
you ran 2 miles
are you tired:no
you ran 3 miles
are you tired:no
you ran 4 miles
are you tired:yes
you didnt finish the race

In [34]:
for i in range(1,6):
    print('*' *i)

*
**
***
****
*****

In [48]:
base = int(input("enter base number:"))
height = int(input("enter height number:"))
def area(base, height):
    
    area = 1/2* base* height
    
    return area
triangle_area = area(base, height)
print(f'the area of triangle is {triangle_area}')

enter base number:10
enter height number:20
the area of triangle is 100.0

In [56]:
base = int(input("enter base number:"))
height = int(input("enter height number:"))
shape_type = input("enter shape type:")
def area(base, height,shape_type):
    if shape_type =='triangle':
        area = 1/2* base* height
    elif shape_type == 'rectangle':
        area = base* height
    else:
        shape_type = 'triangle'
    return area
shape_area = area(base, height,shape_type)
print(f'the area of triangle is {shape_area}')

enter base number:29
enter height number:30
enter shape type:rectangle
the area of triangle is 870

In [63]:
def print_pattern(number):
    number = int(input("enter the number:"))
    for i in range(number+1):
        print('*'*i)
        
    return print_pattern
print_pattern(number)

enter the number:4

*
**
***
****

In [64]:
dict1 = {'china': 143, 'india':136, 'USA':32, 'Pakistan': 21}
print(dict1)

{'china': 143, 'india': 136, 'USA': 32, 'Pakistan': 21}

In [ ]:
def print_country():
    for country, population in dict1.items():
        print(f'{country}==>{population}')

def add_country():
    country_name = input("enter the country name:").strip().lower()
    if country_name in dict1:
        print(f'the country {country_name} already exists in dataset')
    else:
        population = int(input(f'Enter population of {country}:'))
        dict1[country_name] = population
        print(f'{country_name} with a population of {popukation} added to dataset')
            
def remove_country():
    country_name = input("enter the country Name").strip().lower()
    if country_name in dict1:
        del dict1[country_name]
        print(f'{country_name} is removed from the dataset')
        print_country()
    else:
        print(f'{country_name} is not available in dataset to remove')

def query_population():
    country_name = input('Enter the name of country to query:').strip().lower()
    if country_name in dict1:
        population = dict1[country_name]
        print(f'the population of {country_name} is {population}')
    else:
        print(f'the country {country_name} doesnt exist in dataset')
        
while True:
    user_input = input("enter query:")
              
    if user_input == 'print':
        print_country()
              
    elif user_input == 'add':
        add_country()
              
    elif user_input == 'remove':
        remove_country()
    
    elif user_input == 'query':
        query_population()
    elif user_input == 'quit'
        break
    
    else:
        print(f'the entered {user_input} not available in system')

In [77]:
def circle_calc():
    radius = int(input("enter the radius of circle:"))
    area = 3.14*radius**2
    #print(f"the area of circle is {area}")
    circumference = 2*3.14*radius
    ##print(f'the circumference of circle is {circumference}')
    diameter = 2*radius
    #print(f'the diameter of circle is {diameter}')
    result_dict ={
        'Area':round(area,0),
        'circumference':round(circumference,0),
        'diameter':round(diameter,2)
    }
    return result_dict
result = circle_calc()
print("result:")
for key, value in result.items():
    print(f'{key}:{value}')

enter the radius of circle:5
result:
Area:78.0
circumference:31.0
diameter:10

In [78]:
class employee:
    def __init__(self, emp_id, emp_name):
        self.id = emp_id
        self.name = emp_name
        

        
employee1 = employee(1,'John')
employee2 = employee(2,'Alice')

print("employee1_id:", employee1.id)
pr9

In [2]:
class animal:
    def __init__(self,habitat):
        self.habitat = habitat
        
    def describe_habitat(self):
        print(f"the animal lives in {self.habitat}.")
        
class dog(animal):
    def __init__(self, habitat, breed):
        super().__init__(habitat)
        self.breed = breed
        
    def describe_dog(self):
        print(f"the dog is of breed {self.breed} and lives in habitat {self.habitat}")
        
        
dog1 = dog("domestic","golden retriever")
dog2 = dog("urban","poodle")

In [3]:
dog1.describe_habitat()
dog2.describe_habitat()

the animal lives in domestic.
the animal lives in urban.

In [9]:
i1 = [1,-1,2,-2,3,-3]
i2 = set()
for i in range(len(i1)):
    s= i1[i]**2
    i2.add(s)
print(i2)

{1, 4, 9}